#canvas1,
#canvas2,
#canvas3,
#canvas4 {
    border: 2px solid orange;
    position: absolute;
}

#canvas2 {
    left: 276px;
}

#canvas3 {
    left: 545px;
}

#canvas4 {
    left: 814px;
}
